



<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}

            <div class="row">
              <!-- DEMO 1 Item-->
              <div class="col-sm mt-3 mt-md-0">
                <div class="hover hover-1 text-white rounded">
                  {%- if project.img %}
                  {%- include figure.html
                    path=project.img
                    alt="project thumbnail" -%}
                  {%- endif %}
                  <div class="hover-overlay"></div>
                  <div class="hover-1-content">
                    <h3 class="hover-1-title text-uppercase mb-0"> {{ project.title }} </h3>
                    <p class="hover-1-description font-weight-light mb-0">{{ project.description }}</p>
                  </div>
                </div>
              </div>
         

            </div>

    </a>
</div>